body {
	padding-top: 5rem;
}

.container {
	padding-top: 10px;
	margin-left: 10px;
	width: 700px;

}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.tftable {font-size:12px;color:#333333;display:inline-block;width:200px;border-width: 1px;border-color: #729ea5;border-collapse: collapse; margin-right:20px;}
.tftable th {font-size:12px;background-color:none;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;width:200px;}
.tftable tr {background-color:none;width:200px;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;width:200px;}
.tftable tr:hover {background-color:#ffffff;}
.tables {display-inline-block;}
