<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Home page</title>
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Report Dashboard</a>
	</nav>

	<!-- <main role="main" class="container"> -->
	<div class="container">
		<div class="starter-template">
		
			<!-- <h2 align="center">Inbound Order Search</h2> -->
			<form action="#" th:action="@{/searchInboundOrders}"
				th:object="${orderSearch}" method="post">
				
				<table border="1">
					<tr><th>Inbound Order Search</th></tr>
					<tr>
						<!-- From Date field -->
						<td><label for="fromDate">From Date:</label></td>
						<td><input type="date" th:field="*{fromDate}" id="fromDate"
							placeholder="fromDate">
						<span th:if="${#fields.hasErrors('fromDate')}"
							th:errors="*{fromDate}"></span></td>
					</tr>
					<tr>
							<!-- To Date field -->
							<td><label for="toDate">To Date:</label></td>
							<td><input type="date"
								th:field="*{toDate}" id="toDate" placeholder="toDate"> <span
								th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></span></td>
					</tr>
					<tr>
							<td><input type="submit" value="Get Inbound Orders"></td>
							<td><input type="reset" value="Reset"></td>
					</tr>
				</table>
				
			</form>
					
			<!-- <h2 align="center">Outbound Order Search</h2> -->
			<form action="#" th:action="@{/searchOutboundOrders}"
				th:object="${orderSearch}" method="post">
				
				<table border="1">
					<tr><th>Outbound Order Search</th></tr>
					<tr>
						<!-- From Date field -->
						<td><label for="fromDate">From Date:</label></td>
						<td><input type="date" th:field="*{fromDate}" id="fromDate"
							placeholder="fromDate">
						<span th:if="${#fields.hasErrors('fromDate')}"
							th:errors="*{fromDate}"></span></td>
					</tr>
					<tr>
							<!-- To Date field -->
							<td><label for="toDate">To Date:</label></td>
							<td><input type="date"
								th:field="*{toDate}" id="toDate" placeholder="toDate"> <span
								th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></span></td>
					</tr>
					<tr>
							<td><input type="submit" value="Get Outbound Orders"></td>
							<td><input type="reset" value="Reset"></td>
					</tr>
				</table>
				
			</form>
		</div>
	</div>
	<footer>
			<a href="Inbound/InboundOrders">Show Inbound Orders</a>
			<a href="Inbound/DownloadInboundOrdersReport">Generate Inbound
					Orders PDF</a>
			<a href="Outbound/OutboundOrders">Show Outbound Orders</a>
			<a href="Outbound/DownloadOutboundOrdersReport">Generate
					Outbound Orders PDF</a>
	</footer>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

</body>
</html>